    body { 
      /* background-image: linear-gradient(-45deg, #00acc1 50%, #36221c 50%); */
      /* background-image: linear-gradient(-45deg, rgb(200,0,0) 50%, rgb(0,0,50) 50%); */
      font-family: 'Raleway', sans-serif;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;
      background-image: url(../assets/img/background8.jpg);
    }
    



    .fondo {
        background: #e9fcff;
      }
      .negro {
        background: rgb(12, 12, 12);
      }
  
      .btn-circulo {
        border-radius: 50px;
      }
  
      .tamaño {
        font-size: 14px;
      }
  
      /* f8f54c */
  
      /* Color de fondo de la oferta educativa */
      .colorM {
        background-color:rgb(0, 0, 50);
      }
  
      .colorH {
        background: #e9fcff;
      }
      .ColorNegro {
        color: black;
      }
  
      .carru {
        text-decoration-line: none;
        color: #e9fcff;
      }
      .carru:hover {
        color: black;
      }
  
      .card {
        border-radius: 0px;
        background-image: url(../assets/img/background8.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
      }
      .colorF {
        background: #c4d8d8;
      }
      .neg {
        color: black;
      }
  
      .ColumnaIzquierda {
        background: -webkit-linear-gradient(top, rgba(16,114,150,1) 0%, rgba(33,180,226,0.39) 51%, rgba(0,176,240,0.11) 75%, rgba(25,108,209,0.05) 80%, rgba(35,81,196,0.05) 82%);
        border-radius: 20px;
      }

      table {
    display: block;
    overflow-x: auto;
  }
  
  .btn-circulo2 {
    border-radius: 400px;
  }
  /*Navegacion Sep*/
.barra {
  display: flex;
  justify-content: space-between; /*Alineacion horizontal*/
  padding: .8rem;
  align-items: center; /*Alineacion Vertical*/
  top: 0;
}

.navegacion a {
  color: rgba(251, 253, 255, 0.876);
  text-decoration: none;
  font-size: .9rem;
  margin-right: .8rem;
  align-items: center; /*Alineacion Vertical*/
}



.FondoImagen{
  height:665px;
  background-repeat: repeat-x;
  background-size: 10rem;
}

.sticky-top-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
  z-index: 1030;
}

.menor {
  margin-right: 0;
}



.fondoSubitulos {
  background: rgb(0, 0, 50);
   color: #FFFFFF;
}

.LetraBlanca {
  color: #ffffff;
  font-size: 1rem;
  text-decoration-line: none;
  text-decoration: none;
}

.LetraNegra {
  color: #000000;
  font-size: 1rem;
  text-decoration-line: none;
  text-decoration: none;
}

.FondoEncabezado {
  background-image: url(../assets/img/header.jpg);  
  background-repeat: repeat-x;
  background-color: transparent;
}

.Texto{
  padding: 1rem;
  min-height: 1rem;
  color: #000000;
  font-size: 18px;
  text-decoration-line: none;
  text-decoration: none;
}

.Aviso{
  background: rgb(255, 255, 255);
  min-height: 0rem;
  color: #000000;
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration-line: none;
  text-decoration: none;
}
.Subtitulos{
  padding: 0rem;
  min-height: 1rem;
  color: rgb(200, 0, 0);
  font-size: 30px;
  text-decoration-line: none;
  text-decoration: none;
  background: transparent;

  
}

.SubFlotantes{
  background: rgb(200, 0, 0);
  padding: 4px;
  min-height: 0rem;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration-line: none;
  text-decoration: none;
}


.no-padding {
  padding: .3rem;
}

.no-margen {
  margin: 0;
}

.redondear {
  border-radius: 50px;
}
.redondear2 {
  border-radius: 5px;
}

.footerGob {
  background-image: url(../assets/img/pie\ de\ pagina\ CAE.jpg); 
  width: 100%; 
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tNombre {
  max-width: 10rem;
  min-width: 10rem;
}
 
.mapa {
  min-width: 100%;
  min-height: 29rem;
  border:0; 
}
.pdf {
  width: 100%; 
  height: 600px
}

.titulo {
  color: #FFFFFF;
  font-size: 4rem;
  background: transparent;
}
.tituloPrincipal {
  color: #FFFFFF;
  font-size: 50px;
  background: transparent;
}

p{
  color: #FFFFFF;
}

.titulo2 {
  color: rgb(250, 0, 0);
  font-size: 3rem;
}



.MiVi {
  background: rgb(0, 0, 50);
  padding: 4px;

  color: #FFFFFF;
  font-size: 18px;
  text-decoration-line: none;
  text-decoration: none;
}

.MiVi2 {
  background: rgb(200, 0, 0);
  padding: 4px;

  color: #FFFFFF;
  font-size: 18px;
  text-decoration-line: none;
  text-decoration: none;
}

.reducir {
  width: 90%;
}
ul, ol {
  list-style: none;
}
.nave li a {
  background: rgb(0, 0, 50);
  color: white;
  text-decoration: none;
  padding: .3rem 1.5rem;
  display: block;
}
.nave li a:hover {
  background-color: rgb(250, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: #140b66 1px;
  border-block: 1px;
}

.nave >li {
  float: left;
}
.nave li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
.nave li:hover > ul {
  display: block;
}
nav a:hover {
  color: rgb(250, 0, 0);
}
nave a:hover {
  background-color: rgb(250, 0, 0);
  color: black;
}
.barra2 {
  display: flex;
  justify-content: center; /*Alineacion horizontal*/
  border: 0;
  padding: 0;
  margin: 0;
  height: 2.2rem;
}
@media (max-width: 768px) {
  .nave {
    display: none;
  }
}
@media (min-width: 769px) {
  .nave-cel {
    display: none;
  }
}
.hover-rojo:hover {
  color: red;
}
